.container {
  border: 3px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  min-height: 90vh;
  /* height: 90vh;
  width: 100vh; */
  min-width: 100vh;
  border-radius: 10px;
  gap: 20px;
  padding: 20px;
}

.body-1 {
  background-color: #604e0b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: xx-large;
  /* text-align: center; */
}

.body-2 {
  /* text-align: center; */
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: xx-large;
}

@media only screen and (max-width: 750px) {
  .container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    min-width: 50vh;
  }
}
